@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600&display=swap");
@import url(magic.css);

:root {
  --main-post-color: #e9c46a;
  --main-post-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  --greet-font-size: 20px;
}

#hidden {
  display: none;
}

.list {
  width: 200px;
  height: 100px;
  background-color: var(--main-post-color);
  margin: 15px;
  box-shadow: var(--main-post-shadow);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(imgs/wood-board-background.jpg);
  background-size: cover;
  font-family: "Shantell Sans", cursive;
}

div.left {
  width: 70%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* dev */
  /* border: 5px solid black; */
}
div.right {
  width: 30%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* dev */
  /* border: 5px solid black; */
}

.container {
  background-color: var(--main-post-color);
  padding: 50px;
  box-shadow: var(--main-post-shadow);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.container div {
  padding: 10px;
}

#current_date {
  font-size: 35 px;
}

#current_time {
  font-size: 70px;
}

.login {
  font-size: var(--greet-font-size);
}

.login h1 {
  width: 100%;
  height: 118px;
  display: flex;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form span,
.login form .login_name,
#greet,
.todos {
  box-sizing: border-box;
  font-size: var(--greet-font-size);
  width: 210px;
  height: 30px;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 5px 0px;
}

.login form .login_name,
.todos {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.login form input:last-child {
  background-color: #e76f51;
  width: 100px;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: var(--main-post-shadow);
}

.todo_list {
  font-size: var(--greet-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
